<div class="sidebar">
    <ul>
        <li><a href="/">Dashboard</a></li>
        <li><a href="/news">Noutăți</a></li>
        <li><a href="/info">Informații utile</a></li>
        <li><a href="/results">Rezultate</a></li>
        <li><a href="/subjects">Subiecte</a></li>
        <li><a href="/train">Antrenează-te</a></li>
        <li><a href="/learn">Învață de 10</a></li>
        <li><a href="/college">Vreau la facultate</a></li>
    </ul>
    <footer>
        <a href="#">Confidenţialitate</a> ·
        <a href="#">Condiţii de utilizare</a> ·
        <a href="#">Protecția datelor</a> ·
        <a href="#">Despre</a> ·
        <a href="#">Asociația ONedu © 2024</a>
    </footer>
</div>
